{% if snmp is defined and snmp %}
snmp {
    location {{ snmp.snmp_location }};
    contact {{ snmp.snmp_contact }};
{% for comm,comm_type in snmp.snmp_comms.items() %}
    community {{ comm }} {
        authorization {{ comm_type }};
    }
{% endfor %}
}
{% endif %}
